;
; mqtt_vosk_commands.conf - for supervisord configuration file
;
; install
;     $ sudo apt-get install supervisor
;     $ pwd
;       (check your scrpt path...)
;     $ sudo cp mqtt_vosk_commands.conf.sample /etc/supervisor/conf.d/mqtt_vosk_commands.conf
;     $ sudo vi /etc/supervisor/conf.d/mqtt_vosk_commands.conf
;       (fix path, etc...)
;     $ sudo supervisorctl update
;     mqtt_vosk_commands: added process group
;     $ sudo supervisorctl status
;     mqtt_vosk_commands        RUNNING    pid 8192, uptime 0:00:30
;
; see also
;     Supervisor: A Process Control System
;     http://supervisord.org/
;
[program:mqtt_vosk_commands]
command                 = python3 mqtt_vosk_commands.py
directory               = /home/pi/work/mqtt_vosk_commands/
user                    = pi
numprocs                = 1
autostart               = true
autorestart             = true
redirect_stderr         = true
stdout_logfile          = /home/pi/work/mqtt_vosk_commands/log.txt
startsecs               = 1
startretries            = 10
stdout_logfile_maxbytes = 1MB
stdout_logfile_backups  = 1
